@import '~bootstrap/scss/bootstrap';
// .hoverCardStyle: {
//   transition: 'transform 0.2s ease-in-out',
//   '& .hidden-button': {
//     display: 'none'
//   },
//   '&:hover .hidden-button': {
//     display: 'flex'
//   }
// },

.MuiCard-root {
  overflow: visible !important;
}

.hoverCardStyle {
  width: 18rem;
  max-width: 21rem;
  z-index: -1;
  transition: {
    transform: 0.22s ease-in-out;
  }
  // transition: transform 0.2s ease-in-out;
  .hidden-button {
    display: none;
  }
  .hidden-content {
    display: none;
  }
  // & .hidden-button: {
  //   display: none
  // };
  // &:hover .hidden-button: {
  //   display: flex
  // };
  // .hidden-button {
  //   display: none;
  // }
  // .hidden-button:hover {
  //   display: flex;
  // }
}
.hoverCardStyle:hover {
  // transform: scale3d(1.05, 1.05, 1);
  // position: relative;
  // transform: scale3d(1.2);
  transform: scale(1.2);
  z-index: 5;
  // padding: 15px;
  // margin: 20px;
  .hidden-button {
    display: flex;
  }
  .hidden-content {
    display: flex;
  }
  // .hidden-button:hover {
  //   // display: flex;
  // }
  // .hidden-content {
  //   display: flex;
  // }
}
.hidden-button:hover {
  // display: flex;
  // .hidden-content {
  //   display: flex;
  // }
}
// .hidden-button {
//   display: none;
// }
// .hidden-content {
//   display: none;
// }
// .detailsButton:hover {
//   .hidden-content {
//     display: flex;
//   }
// }

// .hidden-button:hover {
//   display: flex;
// }

.card-style {
  // margin: 20px; // commented out 11/19
  // z-index: 3px;
  // padding: 5px;
}

// .container {
//   padding-right: 5px;
//   padding-left: 5px;
//   margin-right: 5px;
//   margin-left: auto;
// }
.row-style {
  justify-content: space-around;
  display: flex;
  padding: 30px;
  padding-bottom: 5px;
  padding-top: 15px;
  margin-top: 30px;
}

.title-style {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
}
.search-area{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 1px;
}
.search {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 1px;
}
// .container {
//   margin: 20px;
//   align-items: center;
//   width: 80%;
// }
.layout-style {
  margin-top: 10px;
  // margin: 15;
  flex-grow: 1;
  // padding: 20; // commented out 11/19
}
